<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <title>BusBoard</title>
  </head>
  <body>
    <h1>Bus Arrivals by Stop ID</h1>
    <div>
      <%= "Displaying arrivals for #{@stop_id}" %>

      <% @errors.each do |err| %>
        <p class="error"><%= err %></p>
      <% end %>

      <% if @data.has_key?(:arrivals) %>
        <h4><%= @data[:name] %></h4>
        <table>
          <% @data[:arrivals].each do |arr| %>
            <tr>
              <td><%= arr[:line_number] %></td>
              <td><%= arr[:destination] %></td>
              <td><%= arr[:minutes_to_arrival] %> minutes</td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p>No arrivals for this stop</p>
      <% end %>
    </div>
  </body>
</html>